[submodule "modules/silas/files/vim/bundle/syntastic"]
	path = modules/silas/files/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "modules/silas/files/vim/bundle/stylus"]
	path = modules/silas/files/vim/bundle/stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "modules/silas/files/vim/bundle/jade"]
	path = modules/silas/files/vim/bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "modules/silas/files/vim/bundle/nerdtree"]
	path = modules/silas/files/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "modules/silas/files/vim/bundle/fugitive"]
	path = modules/silas/files/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "modules/silas/files/vim/bundle/markdown"]
	path = modules/silas/files/vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "modules/silas/files/vim/bundle/liquid"]
	path = modules/silas/files/vim/bundle/liquid
	url = git://github.com/tpope/vim-liquid.git
